{% extends 'base.html.twig' %}

{% block title %} REACT / Symfony{% endblock %}

{% block body %}
    <div>
    hey c'est ici le contenu de index.html.twig
        <div id="root"></div>
    </div>
{% endblock %}